.blue-beast{
    color: tomato;
    background-color: bisque;
    width: 600px;
    height: 300px;
}
#color-blue{
    color: royalblue;
}
#span{
    color: royalblue;
}
.section{
    display: flex;
    color: rgb(230, 27, 95);
    background-color: darkgray;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    margin: 40px;
    border: 2px solid blue;
}
.eid-day{
    color: brown;
    text-align: center;
    background-color: bisque;
    margin: 50px;
}
#padding{
    color: orangered;
    background-color: darkgray;
    text-align: center;
    padding: 10px;
    margin: 40px;
}
#text-align{
    color: tomato;
    background-color: pink;
    text-align: center;
    padding: 10px;
}
#footer{
    color: white;
    background-color: black;
    text-align: center;
    font-weight: 700;
    padding: 10px;
}